[submodule "zsh/zsh-git-prompt"]
	path = zsh/zsh-git-prompt
	url = git@github.com:olivierverdier/zsh-git-prompt.git
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
